<div class="card mt-5 content">
  <div class="card-body">
    <h6 class="text-center">List of Invoices</h6>
    <input type="text" name="name" class="mb-2 form-control" #name="ngModel" [(ngModel)]="invoiceSearch"
      placeholder="Search">
    <table class="table table-sm table-hover">
      <thead>
        <th>#ID</th>
        <th>Customer Info</th>
        <th>Total Price</th>
        <th>Price After Discount</th>
        <th *ngIf="withGst">Price After GST</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let invoice of obs | async | search:'id':invoiceSearch:invoiceList; let i =index">
          <td class="desc">{{i+1}}</td>
          <td class="desc">{{invoice?.sale_info.customer?.f_name}} {{invoice?.sale_info.customer?.l_name}}</td>
          <td class="desc">{{invoice?.sale_info?.totalPrice}}</td>
          <td class="desc">{{invoice?.sale_info?.totalPriceAfterDiscount}}</td>
          <td *ngIf="withGst" class="desc">{{invoice?.sale_info?.totalPriceAfterGST}}</td>
          <td>
            <a class="btn btn-secondary text-white mr-1" (click)="viewInvoice(invoice)">
              <i class="fa fa-eye"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>