<div class="content">
    <h4 class="text-center" style="padding-top: 10px;">{{title}}</h4>
    <div class="row">
        <div class="col-md-12 float-right">
            <input id="file" type="file" (change)="addfile($event)"
                accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
            <label for="file">Upload Excel File</label>
        </div>
    </div>
    <div class="row">
        <div [ngClass]="{'col-lg-12': true}">
            <app-product></app-product>
        </div>
        <div [ngClass]="{'col-lg-12': true}" class="text-center">
            <ng-container>
                <app-product-list></app-product-list>
            </ng-container>
        </div>
    </div>
</div>