<div class="card mt-5">
    <div class="card-body">
        <h6 class="text-center">List of Products</h6>
        <input type="text" *ngIf="productList && productList.length > 0" name="name" class="mb-2 form-control"
            #name="ngModel" [(ngModel)]="productSearch" placeholder="Search">
        <table class="table table-sm table-hover" *ngIf="productList && productList.length > 0">
            <thead>
                <th>Name</th>
                <th>Price</th>
                <th>Location</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr *ngFor="let product of obs | async | search:'name,price':productSearch:productList ">
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.location}}</td>
                    <td>
                        <a class=" btn btn-secondary text-white mr-2" (click)="onEdit(product)">
                            <i class="far fa-edit"></i>
                        </a>
                        <a class="btn btn-danger text-white mr-2" (click)="onDelete(product.id)">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                        <a class="btn btn-primary text-white" (click)="onDelete(product.id)">
                            <i class="fa fa-eye"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>