<div class="container">
  <div class="col" style="padding-bottom: 10px; padding-top: 10px">
    <!-- <p *ngIf="loading">
      <i class="fa fa-spinner fa-spin"></i>
    </p> -->
    <h4 class="text-center">{{title}}</h4>
  </div>
  <!-- {{form.value | json}} -->
  <form autocomplete="off" class="form-horizontal" [formGroup]="form" (ngSubmit)="saveProduct()" novalidate>
    <input type="hidden" formControlName="totalPrice">
    <div class="row">
      <div class="col">
        <div class="card border-info mb-3" style="max-width: 100%; ">
          <div class="card-header">
            <i class="fas fa-users text-success"></i> Customer
            <a class="badge badge-purple badge-outlined" style="cursor: pointer;" (click)="customerModal()">Add New
              <i class="fas fa-user-plus text-purple"></i>
            </a>
          </div>
          <div class="card-body text-info">
            <div class="form-row">
              <div class="col-md-4">
                <select class="bg-info form-control" id="customer" formControlName="customer"
                  (ngModelChange)="getSelectedOptionText($event)">
                  <option [ngValue]="true">-Customer-</option>
                  <option *ngFor="let item of customerList" [ngValue]="item">{{item?.f_name}} {{item?.l_name}}</option>
                </select>
              </div>
              <div class="col-md-4 ">
                <span *ngIf="phoneCustomer">
                  <label>Phone:</label>
                  {{phoneCustomer}}
                </span></div>
              <div class="col-md-4">
                <span *ngIf="addressCustomer">
                  <label>Address:</label>
                  {{addressCustomer}}</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div [hidden]="!phoneCustomer" class="row">
      <div class="col-5">
        <div class="card border-warning ">
          <div class="card-header">
            <i class="fas fa-shopping-cart text-success"></i> Products & Services
            <a class="badge badge-purple badge-outlined" style="cursor: pointer;" (click)="productModal()">Add New
              <i class="fas fa-plus-circle text-purple"></i>
            </a>
          </div>
          <div class="card-body text-default ">
            <input type="text" name="name" class="mb-2 form-control" #name="ngModel" [(ngModel)]="productSearch"
              [ngModelOptions]="{standalone: true}" placeholder="Search">
            <div class="border-bottom p-1 border-light row" style="cursor: pointer;"
              *ngFor="let product of  obs | async | search:'name,p_model_no,p_hsn_code,p_color,p_warranty,p_sale_price,p_sale_price':productSearch:productList">
              <div class="col-lg-1" (click)="product.in_stock !== 0 ? addPurchase(product) : null">
                <i class="fas fa-plus-circle text-info mr-5"></i>
              </div>
              <div class="col-lg-7" [helipopper]="tpl" helipopperVariation="popper">
                <span style="font-size: 20px;" class="text-yellow mr-5">
                  {{product?.pName}}
                </span>
                <ng-template #tpl>
                  <div>
                    <div class="row">
                      <div class="col-lg-4 p-1">
                        Categorie
                      </div>
                      <div class="col-lg-8 p-1">
                        {{product.cName}}
                      </div>
                      <div class="col-lg-4 p-1">
                        Vendor Name
                      </div>
                      <div class="col-lg-8 p-1">
                        {{product.vName}}
                      </div>
                      <div class="col-lg-4 p-1">
                        Model No
                      </div>
                      <div class="col-lg-8 p-1">
                        {{product.p_model_no}}
                      </div>
                      <div class="col-lg-4 p-1">
                        MRP Price
                      </div>
                      <div class="col-lg-8 p-1">
                        {{product.p_mrp_price}}
                      </div>
                      <div class="col-lg-4 p-1">
                        Stock
                      </div>
                      <div class="col-lg-8 p-1">
                        {{product.in_stock}}
                      </div>
                    </div>
                  </div>
                </ng-template>
              </div>
              <div class="col-lg-4 pt-1" (click)="product.in_stock !== 0 ? addPurchase(product) : null">
                <span [ngClass]="{'border border-danger': product.in_stock === 0}" style="font-size: 20px;"
                  class="badge badge-primary badge-outlined">
                  {{money(product.p_sale_price)}}</span>
              </div>
            </div>
            <hr style="border-width: 1px 0; color: black">
          </div>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </div>
      <div *ngIf="showDiv" class="col-7">
        <div class="card border-success ">
          <div class="card-header text-primary">
            <strong>
              <i class="fas fa-file-invoice-dollar text-success"></i> Total Price
              {{money(form.get('totalPrice').value)}}</strong>&nbsp;
            <button type="button" (click)="resetPurchase()" class="btn btn-warning">Reset</button>
            <button type="button" class="btn btn-link" (click)="preViewBill()">Preview</button>
            <button type="submit" class="btn btn-success float-right">Submit</button>
          </div>
          <div class="card-body text-info">
            <a class="list-group-item list-group-item-action flex-column align-items-start bg-color"
              *ngFor="let purchase of form.controls.purchases.controls; let i=index" formArrayName="purchases">
              <div [formGroupName]="i">
                <div class="d-flex w-100 justify-content-between">
                  <small>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                      (click)="removePurchase(i)">
                      <span aria-hidden="true" class="text-danger">×</span>
                    </button>
                  </small>
                  <h5 class="mb-1 text-info">{{purchase.get('product').value.pName}}</h5>
                  <small class="text-warning">Product Price:
                    {{money(purchase.get('product').value.p_sale_price)}}</small>
                </div>
                <p class="mb-1">
                  <input type="number" formControlName="quantity" class="form-control form-control-sm">
                </p>
                <small>
                  <input type="hidden" formControlName="amount" class="form-control form-control-sm"> Sub-Total
                  {{money(purchase.get('amount').value)}}
                </small>
              </div>
            </a>
          </div>
          <div class="card-header text-primary text-right">
            <strong>
              <i class="fas fa-file-invoice-dollar text-success"></i> Total Price (before GST)
              {{money(form.get('totalPrice').value)}}</strong>
            <div class="row p-1">
              <div class="col-lg-8">
                <div class="row">
                  <div class="col-lg-4">
                    Discount Type
                  </div>
                  <div class="col-lg-4">
                    <select (ngModelChange)="calculateDiscount($event)"
                      class="bg-danger form-control w-100 form-control-sm" formControlName="discountType">
                      <option value="amount">Amount</option>
                      <option value="percent">%</option>
                    </select>
                  </div>
                  <div class="col-lg-4">
                    <input name="discount" type="number" formControlName="discount"
                      class="form-control form-control-sm">
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <strong>
                  <i class="fas fa-file-invoice-dollar text-success"></i>
                  Total Price (After discount)
                  {{calculateDiscount()}}
                </strong>
              </div>
            </div>
            <ng-container *ngIf="withGst">
              <div class="row p-1">
                <div class="col-lg-4">CGST</div>
                <div class="col-lg-8">
                  <input name="cgst" type="number" formControlName="cgst" class="form-control form-control-sm">
                </div>
              </div>
              <div class="row p-1">
                <div class="col-lg-4">SGST</div>
                <div class="col-lg-8">
                  <input name="sgst" type="number" formControlName="sgst" class="form-control form-control-sm">
                </div>
              </div>
              <div class="row p-1">
                <div class="col-lg-4">IGST</div>
                <div class="col-lg-8">
                  <input name="igst" type="number" formControlName="igst" class="form-control form-control-sm">
                </div>
              </div>
              <strong>
                <i class="fas fa-file-invoice-dollar text-success"></i>
                Total Price (GST inclusive)
                {{(calculateGst((form.get('totalPrice').value)))}}
              </strong>
            </ng-container>


          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- {{form.value|json}} -->
</div>