<div>
    <header>
        <!-- <h1>Invoice</h1> -->
        <span>
            <img alt="" src="./assets/img/Layer.png">
        </span>
        <address>
            <p>{{ownerInformation?.company_name}}</p>
            <p>{{ownerInformation?.name}}</p>
            <strong>GSTIN:</strong>
            <p>{{ownerInformation?.gstin}}</p>
            <strong>Account No:</strong>
            <p>{{ownerInformation?.account_no}}</p>
            <strong>IFSC:</strong>
            <p>{{ownerInformation?.ifsc_code}}</p>
            <strong>Address:</strong>
            <p>
                {{ownerInformation?.address}}
            </p>
        </address>
        <!-- <span>
            <img alt="" src="./assets/img/Layer.png">
        </span> -->
    </header>
    <article>
        <!-- <h1 class="text-black">Recipient</h1> -->
        <address>
            <p>{{modalData?.customer?.f_name}} {{modalData?.customer?.l_name}}</p>
            <p>Address: {{modalData?.customer?.address}}</p>
            <p>Phone:{{modalData?.customer?.mobile_no}}</p>
        </address>
        <table class="meta">
            <tr>
                <th class="yellow-cat"><span>Invoice #</span></th>
                <td class="black-cat"><span>{{modalProperties?.title?.id}}</span></td>
            </tr>
            <tr>
                <th class="yellow-cat"><span>Date</span></th>
                <td class="black-cat"><span>{{modalProperties?.title?.date | date: 'short' }}</span></td>
            </tr>
        </table>
        <table class="inventory">
            <thead>
                <tr>
                    <th class="yellow-cat"><span>Item</span></th>
                    <th class="yellow-cat"><span>Warranty</span></th>
                    <th class="yellow-cat"><span>Color</span></th>
                    <th class="black-cat"><span>Model No</span></th>
                    <th class="black-cat"><span>Unit Cost</span></th>
                    <th class="black-cat"><span>Quantity</span></th>
                    <th class="black-cat"><span>Price</span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of modalData?.purchases; let i = index">
                    <td class="black-cat"><span>{{item?.product?.pName}}</span></td>
                    <td class="black-cat"><span>{{item?.product?.p_warranty}}</span></td>
                    <td class="black-cat"><span>{{item?.product?.p_color}}</span></td>
                    <td class="black-cat"><span>{{item?.product?.p_model_no}}</span></td>
                    <td class="yellow-cat"><span data-prefix>₹</span><span>{{item?.product?.p_sale_price}}</span></td>
                    <td class="yellow-cat"><span>{{item?.quantity}}</span></td>
                    <td class="yellow-cat"><span
                            data-prefix>₹</span><span>{{item?.product?.p_sale_price * item?.quantity}}</span></td>
                </tr>
            </tbody>
        </table>
        <table class="balance">
            <!-- newww -->
            <tr>
                <th class="yellow-cat">
                    <span>Subtotal</span>
                </th>
                <td class="black-cat left"><span data-prefix>₹</span> {{modalData?.totalPrice}}</td>
            </tr>
            <tr>
                <th class="yellow-cat">
                    <span>Discount ({{modalData?.discount}}
                        {{modalData?.discountType === 'amount' ? 'Amount' : '%'}})</span>
                </th>
                <td class="black-cat left"><span data-prefix>₹</span> {{modalData?.totalPriceAfterDiscount.toFixed(2)}}
                </td>
            </tr>
            <tr *ngIf="modalData?.with_gst">
                <th class="yellow-cat">
                    <strong>CGST ({{modalData?.cgst === null ? 0 : modalData?.cgst}}%)</strong>
                    <br>
                    <strong>SGST ({{modalData?.sgst === null ? 0 : modalData?.sgst}}%)</strong>
                    <br>
                    <strong>IGST ({{modalData?.igst === null ? 0 : modalData?.igst}}%)</strong>
                </th>
                <td class="black-cat right"><span data-prefix>₹</span> {{modalData?.totalPriceAfterGST.toFixed(2)}}</td>
            </tr>

            <tr>
                <th class="yellow-cat">
                    <span>Total</span>
                </th>
                <td class="black-cat right">
                    <!-- {{modalData?.with_gst}} -->
                    <span data-prefix>₹</span>
                    <strong>{{modalData?.with_gst ? modalData?.totalPriceAfterGST.toFixed(2) : modalData?.totalPriceAfterDiscount.toFixed(2)}}</strong>
                </td>
            </tr>
        </table>
    </article>
</div>

<!-- <aside>
    <h1><span>Additional Notes</span></h1>
    <div>
        <p>A finance charge of 1.5% will be made on unpaid balances after 30 days.</p>
    </div>
</aside> -->